html {
    background-color: rgba(216, 212, 212, 0.856);
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;

}

th {
    border: 1px solid black;
    text-align: center;
}
 .data {
    border: 1px solid blue;
    text-align: center;

}